/* author : YP               */ 
/* date   : 2005/10/24 15:49 */

#alex_divInfos
{
  background-color: #DDDDDD;
  border: 1px solid #C3C7D3;
  position:absolute;
  top:100px;
  left:100px;
  visibility:hidden;
  z-index:99999;
  padding:0px;
  margin:0px;
}

/* -----------------------------------------------------*/ 
/* ----- titlebar ------------------------------------- */
#alex_barreTitre
{
  background-color: #003018;
  clear: both;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; 
  height: 14px; 
  width:100%;
  cursor:move;
  border-bottom: grey 1px solid;
}
#alex_imgIcone
{
  margin: 1px 10px 1px 2px;
  float: left;
  padding:0px;
  border:0px solid black;
}
#alex_libTitre
{
  color: white;
  vertical-align: middle;
  font-family:verdana;
  font-size: 13px;
  float: left;
}
#alex_imgClose, #alex_imgHelp, #alex_imgMenu
{
  margin: 1px 1px 1px 2px;
  float:right;
  cursor:pointer;
  padding:0px;
  border:0px solid black;
}
/* -----------------------------------------------------*/ 
/* ----- la barre de Copyright ------------------------ */
#alex_bandeauCopyright
{
  margin:0px;
  padding:0px;
  background-image: url(http://www.sensagent.com/alexandria/images/topborder.16.gif); 
  clear: both;
  height:16px; 
  border-top:1px solid black;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
#alex_libCopyright
{
  color:White;
  font-size: 8px; 
  margin-right:5px;
  margin-top:0px;  
  float:right;
  padding:0px;
}
#alex_libEval
{
  margin-left:5px;
  font-size: 12px; 
  color:red;
  float:left;
}
/* -----------------------------------------------------*/ 
/* ----- la barre de menu ----------------------------- */
#alex_barreMenu
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px; 
  /* Pour Mozilla */
  width:100%;
  height:25px; 
/*  overflow:auto; */
  background-image: url(http://www.sensagent.com/alexandria/images/topborder.inv.25.gif);
  clear:both;
}
/*
#alex_trMenu, #alex_tdMenu, #alex_tableMenu
{
  vertical-align: middle;
  margin:0px;
  padding:0px;
}
*/
#alex_formMenu
{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 5px; /* ne marche pas sous Mozilla */
}
#alex_alexandriaFleche
{
  margin-left: 0px;	
  margin-right: 1px;	
}
#alex_alexandriaLoupe
{
  margin-right: 5px; 
  position:relative;
  top:2px;
  padding:0px;
  border:0px solid black;
}
#alex_inputMot
{
  color:black;
  margin-right:5px;	
  width:100px;
  font-size: 12px; 
}
#alex_alexandriaSelect1, #alex_alexandriaSelect2
{
  color:black;
  width:90px;
  font-family: sans-serif;
  font-size: 12px; 
}
.alexDisabled
{
  background-color: #EEEEEE;
  cursor:default;
}
.alexEnabled
{
  background-color: white;
  cursor:pointer;
}
#alex_translateTo
{
  font-family:arial;
  font-weight:bolder; 
  font-size:16px;
  color:black;
  margin-left:5px;
  margin-right:5px;
}
#alex_alexandriaSelectWhere
{
  color:black;
  background-color: white;
  margin-left:15px;
  width:110px;
  font-size: 12px; 
}
#alex_alexandriaButton
{
  background-color : White; 
  margin-left:2px;
  margin-right:20px;
  margin-top:2px;
  font-size: 12px;
}
/* -----------------------------------------------------*/ 
/* -----  datas --------------------------------------- */
#alex_data
{
  height: 100%;
  float: left;
  border-width: 0px;
}
#alex_frameNotify
{
  height     : 0px;
  width      : 100%;
  visibility : hidden;
}
#alex_frameData
{
  background-color: White;
  width: 100%;
  height:100%;
  overflow: auto;
  border-width: 0px;
}
/* -----------------------------------------------------*/ 
/* -----  frames -------------------------------------- */
#alex_bandeauHaut
{
  margin : 0px;
  clear: both;
  overflow:auto;
  width:100%;
  height:0px;
}
#alex_bandeauMilieu
{
  width            : 100%;
  margin           : 0px;
}

#alex_bandeauGauche
{
  float:left; 
  height:100%;
  overflow:auto;
  margin : 0px;
}
#alex_bandeauDroite
{
  float:right; 
  height:100%;
  overflow:auto;
  margin : 0px;
}
#alex_bandeauBas
{
  margin: 0px;
  height: 60px;
  clear: left;
  overflow: auto;
  width: 100%;
  display:none;
}

/* -----------------------------------------------------*/ 
/* -----  highlighted reserved words ------------------ */
.alex_double_hrw
{
  border-bottom: 3px double; 
  cursor:pointer;
}
.alex_dashed_hrw
{
  border-bottom: 1px dashed; 
  cursor:pointer;
}
.alex_none_hrw
{
  cursor:pointer;
}
