/* Mise en évidence des diffs par du gras et de la couleur. */
table.diff {
	padding: .5em;
}

table.diff td {
	vertical-align: top;
}

td.diff-addedline {
	background: #d8e4f6;
}

td.diff-addedline .diffchange {
	background: #b0c0f0;
	color: #001040;
	font-weight: bold;
}

td.diff-deletedline {
	background: #e4f6d8;
}

td.diff-deletedline .diffchange {
	background: #b0e897;
	color: #104000;
	font-weight: bold;
}

td.diff-context {
	background: #fefefe;
}

/* Couleur de fond transparente pour les diffs */
table.diff,
td.diff-otitle,
td.diff-ntitle,
td.diff-context {
	background-color: transparent;
}
