@html-font-size: 100%;

// Page content
// FIXME: Use global variable since Echo and CentralNotice use this variable
@content-border-color: #a7d7f9;
// FIXME: Find an open font that works with this stack and is readable by Windows users
@content-font-family: sans-serif;
@content-font-color: #252525;
@content-font-size: 0.875em;
@content-line-height: 1.6;
@content-padding: 1em;
@content-heading-font-size: 1.8em;
@content-heading-font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
@body-background-color: #fcfcfc;
@heading-line-height: 1.3;

// Navigation
@menu-background-color: #fcfcfc;

// Common menu
@menu-link-color: #0645ad;

// Main menu
@menu-main-font-size: inherit;

@menu-main-heading-font-size: 0.75em;
@menu-main-heading-padding: 0.25em 0 0.25em 0.25em;
@menu-main-heading-color: #4d4d4d;

@menu-main-body-font-size: 0.75em;
@menu-main-body-link-color: #0645ad;
@menu-main-body-link-visited-color: #0b0080;
@menu-main-body-margin: 0 0 0 1.25em;
@menu-main-body-padding: 0;

@menu-main-logo-left: 0.5em;

// Personal menu
@menu-personal-font-size: 0.75em;
